* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 52px;
}

nav {
    position: fixed;
    width: 100%;
    height: 52px;
    background: #212121;
    z-index: 2;
}


.menu {
    display: flex;
    justify-content: space-between;
    padding: 14px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 32px;
}

.subheader {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 87px;
    background: rgba(0,0,0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 17px;
}

.subheader .subheader_official {
    margin-top: 6px;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.6;
}

.subheader .subheader_call {
    margin-top: 18px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.6;
}

.subheader .subheader_phone {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subheader .subheader_btn {
    margin-top: 20px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
}

.subheader .subheader_btn span {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    min-height: 800px;
    background: url('../img/bg/uber_bg.png') center center/cover no-repeat;
    padding: 150px 0 185px 0;
}

.promo .promo_header {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_header {
    margin: 0;
    margin-top: 60px;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_subheader {
    margin: 0;
    margin-top: 23px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_descr {
    margin: 0 78px;
    margin-top: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_btn {
    display: block;
    margin: 116px auto 0px auto;
    border: none;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.promo .promo_btn span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reasons {
    padding: 71px 0 65px 0;
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reasons .reasons_block .reasons_descr {
    width: 343px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reasons .reasons_block .reasons_descr .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

  